@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rochester&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: .3s;
}

:root {
  --headerBackground: #000000;
  --btnBackground: #AD45FF;
  --btnHover: #a227ff;
  --heroBackground: #0F0F0F;
  --heroText: #D2D2D2;
}

.btnHover:hover {
  transition: .3s;
  background-color: var(--btnHover);
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #b6b6b6;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}



.upArrow {
  position: fixed;
  z-index: 1;
  color: white;
  left: 95%;
  top: 90%;
  border-radius: 50px;
  clip-path: circle();
  padding: 1rem;
  background-color: var(--btnBackground);
}

.upArrow:hover {
  color: white;
}


.icons:hover {
  box-shadow: var(--btnBackground) -4px 3px 10px;
  border-radius: 50px;
  background-color: transparent;
}

@media (min-width:320px) and (max-width:768px) {
  .upArrow {
    top: 85%;
    left: 85%;
  }
}